.morelogos {
    text-align: justify;
    width: 100%;
    margin-left: 10px;
    margin: 20px 0px 45px 0;
}
.morelogos img {
    position: relative;
    height: 50px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: all 0.3s;
    margin: 15px 10px 0px 0;
    opacity: 0.4;
}
.morelogos img:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
    opacity: 0.7;
    cursor: pointer;
}
.ratio {
    width: 100%; /* здесь можно установить любую нужную ширину */
}
.ratio-inner {
    position: relative;
    height: 0;
    border: none;
    overflow: hidden;
}

.ratio-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.ratio-4-3 {
    padding-top: 70%; /* 100% ширины делим на 4 и умножаем на 3 */
}
.effect-bva:hover {
    background: rgba(160, 67, 26, 0.60) !important;
}
.visitedEvents img {
    opacity: 0.6;
}
.visitedEvents img:hover {
    transition: all 0.3s;
    opacity: 0.9;
    cursor: pointer;
}
.slovFlag {
    position: relative;
    top: -12px;
}
.noSidePadding {
    width: 47%;
    border-left: 1px dashed #0f0f0f;
    padding-bottom: 1em !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.dopImgShow {
    padding-top: 1em !important;
    padding-left: 1em !important;
    padding-right: 0 !important;
}
#images_block {
    background-color: rgba(255, 255, 255, 0.8);
    padding-top: 15px;
}
.image {
    margin-bottom: 15px;
}
.image-zoom {
    position: relative;
    text-align: center;
}
.descr {
    font-size: 0.95em;
    color: #767676;
    line-height: 1.5em;
}
.hotPosition {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}
.soldPosition {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
}
.stockPosNameUp {
    position: absolute;
    padding: 1em;
    background: #c531318a;
    bottom: 0;
    right: 0;
    z-index: 1;
}
.stockPosNameUp h4 {
    color: #fff;
}
.stockPosNameUp:hover {
    display: none;
}
.hov111:hover + .stockPosNameUp {
    display: none;
}
.hov111:hover ~ .soldPosition {
    display: none;
}
.btn-rem {
    position: absolute;
    top: 0;
    left: 0;
}
.btn-add {
    font-size: larger;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -15px;
    margin-left: -30px;
}

.image {
    cursor: pointer;
}
.popup {
	position: fixed;
    top: 0;
    left: 0;
    z-index: 9000;
    width: 100%;
    height: 100%;
}
.hidden_popup {
	display: none;
}
.toper_popup {
	position: fixed;
	display: table-cell;
	vertical-align: middle;
    top: 0;
    left: 0;
	width: 100%;
	background-color: #191616;
    opacity: 0.7;
	z-index:9003;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-size: 25px;
}
.margtop{
	margin-top: 5px;
}
.img_count {
	margin-left: 15px;
}
.close_popup {
	background: url('../images/X1.png') 0 0 no-repeat;
	background-size: cover;
	width: 30px;
	height: 30px;
	margin: 5px 10px 5px 5px;
	z-index:9004;
	opacity: 0.7;
	cursor: pointer;
}
.close_popup:hover {
	opacity: 1;
}
.close_popup:active {
	opacity: 1;
	background-position: center center;
	background-size: 80%;
}
.footer_popup {
	position: fixed;
    top: 100%;
    left: 0;
	width: 100%;
    height: 50px;
	margin-top: -50px;
	line-height: 50px;
	background-color: #191616;
    opacity: 0.7;
	z-index:9003;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
}
.footer_popup p {
	margin-left: 15px;
}
.blackCover {
	position: fixed;
    top: 0;
    left: 0;
    z-index: 9001;
    width: 100%;
    height: 100%;
    background-color: #191616;
    opacity: 0.8;
}

.popup_img {
	position: relative;
	display: inline-block;
	z-index:9002;
}
.arrows {
	position: absolute;
	width: 100%;
}
.brackets {
	-webkit-user-select: none;
	-moz-user-select: none;
	position: relative;
	padding: 15px;
	font: 50px Helvetica, Arial, sans-serif;
	line-height: 41px;
	color: #1C1C1C;
	background: #D8D8D8;
	cursor: pointer;
	opacity: 0.3;
	z-index:9005;
}
.brackets:hover {
	opacity: 0.8;
}
.brackets:active {
	opacity: 0.8;
	top: 3px;
	left: 3px;
	background: #ff4a4a;
}
.shippments {
    position: relative;
}
.shipment_descr{
    padding: 5px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #70e06d9c;
}
/*
adm side
*/

.shippments_grid {
    max-height: 200px;
    min-height: 200px;
    overflow: hidden;
}
.shipmentsInpt {
    width: 100%;
    position: absolute;
    bottom: 0px;
    right: 0px;
}